.SectionHeader {
    width: 100%;
    height: 12pt;
    line-height: 12pt;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid black;
}